$primary: #e5b454; 

.shows-teaser {
  background: #0e0e0e;
  margin-bottom: 6rem;

  /* Правило, що ховало кнопку, видалено */
  
  .shows-teaser__title {
    font: 600 2rem/1.2 "Inter", sans-serif;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0 4em;
  }

  /* Стилі для .shows-teaser__btn видалено, вони більше не потрібні */
}
