$mustard: #E4B14D;
$dark-grey: rgba(255, 255, 255, 0.105);
$text-light: #fff;
$text-dark: #000;
$text-hover: $mustard;
$overlay-bg: rgba(0, 0, 0, 0.6);
$bgc: #0A0A0C;
$dark-bg: #0a0a0c00;

section {
    background-color: $bgc ;
}