@use '../../assets/colors' as *;

.mini-search {
  background: $mustard;
  border-radius: 9999px;
  width: 12rem;
  height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  
  cursor: pointer;
  z-index: 10;

  .icon {
    width: 20px;
    height: 20px;
    color: $text-dark;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: $overlay-bg;
  z-index: 9;
}

.expanded-search-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
}

.expanded-search {
  width: 30em;
  height: 2.5rem;
  margin-top: 2em;
  background-color: $mustard;
  border-radius: 9999px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  margin: 25px;

  input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: $text-dark;

    &::placeholder {
      color: $text-dark;
    }
  }

  .icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: $text-dark;
    flex-shrink: 0;
  }
}


@media (max-width: 520px) {
  .mini-search {
    width: 2.5rem;
  }
}